footer {
  width: 100%;
  height: fit-content;
  background-color: var(--primary);
  text-align: center;
  display: block;
  justify-content: center;
  bottom: 0;
  padding: 20px;
}

.footer-logo {
  width: 130px;
  height: auto;
  margin-top: 50px;
}

.footer-text {
  font-size: 1.2rem;
  color: var(--white);
}

.footerLinks {
  display: grid;
  gap: 20px;
  font-size: 1.5rem;
  padding: 10px;
  justify-content: center;
}

.footerLinks a {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
}

.footerLinks a:hover {
  background-color: var(--white);
  color: var(--black);
}
