*{

    font-family: "Roboto";
    box-sizing: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* Desktop */
@media (min-width: 1281px){
  
.index-body{
    display: flex;
    margin-bottom: 5%;
}

.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 5%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.header1{
    font-size: 2.2rem;
}

.header2{
    font-size: 2rem;
}

.header3{
    font-size: 1.5rem;
    font-weight:normal;
}

.first-containter{
    display: flex;
    margin-top: 5%;
}

.image-index{
    width: 40%;
    height: auto;
    float: left;
    margin-left: 6.25rem;

}

.paragraph{
    font-size: 1.375rem;
    float: right;
    width: 40%;
    text-align: left;
    margin-left: 6.25rem;
    margin-top: 6.25rem;
}

.second-containter{
    display: flex;
    margin-top: 5%;
}
}


    
    
    /* Laptops, desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
       
.index-body{
    display: flex;
    margin-bottom: 5%;
}

.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 5%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.header1{
    font-size: 1.875rem;
}

.header2{
    font-size: 1.625rem;
}

.header3{
    font-size: 1.375rem;
    font-weight: normal;
}
    
.first-containter{
    display: block;
    float: left;
    margin-top: 5%;
}

.image-index{
    width: 45%;
    height: auto;
    float: left;

}

.paragraph{
    font-size: 1.375rem;
    float: right;
    width: 50%;
    text-align: left;
}

.second-containter{
    display: block;
    margin-top: 5%;
    float: left;
}
}

    
    
    /* Tables, Ipads (portrait) */
    @media (min-width: 768px) and (max-width: 1024px) {
      
.index-body{
    display: flex;
    margin-bottom: 5%;
}

.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 5%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.header1{
    font-size: 1.875rem;
}

.header2{
    font-size: 1.625rem;
}

.header3{
    font-size: 1.375rem;
    font-weight: normal;
}
    
.first-containter{
    display: block;
    float: left;
    margin-top: 5%;
}

.image-index{
    width: 45%;
    height: auto;
    float: left;

}

.paragraph{
    font-size: 1.375rem;
    float: right;
    width: 50%;
    text-align: left;
}

.second-containter{
    display: block;
    margin-top: 5%;
    float: left;
}
}
    
   
/* Mobile */
@media (min-width: 481px) and (max-width: 767px) {
    
   
.index-body{
    display: flex;
    margin-bottom: 5%;
}

.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 5%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.header1{
    font-size: 1.875rem;
}

.header2{
    font-size: 1.625rem;
}

.header3{
    font-size: 1.375rem;
    font-weight:normal;
}


.first-containter{
    display: block;
    margin-top: 5%;
}

.image-index{
    width: 90%;
    height: auto;
    margin-top: 10%;

}

.paragraph{
    font-size: 1.375rem;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;
}

.second-containter{
    display: block;
    margin-top: 5%;
}
}
    
    
/* smartphones */
@media (min-width: 320px) and (max-width: 480px) {
      
    
.index-body{
    display: flex;
    margin-bottom: 5%;
}

.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 5%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.header1{
    font-size: 1.875rem;
}

.header2{
    font-size: 1.625rem;
}

.header3{
    font-size: 1.375rem;
    font-weight:normal;
}


.first-containter{
    display: block;
    margin-top: 5%;
}

.image-index{
    width: 90%;
    height: auto;
    margin-top: 10%;

}

.paragraph{
    font-size: 1.375rem;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;
}

.second-containter{
    display: block;
    margin-top: 5%;
}
}