:root {
  --primary: #1a4723;
  --white: #fff;
  --black: #000;
  --grey: #a1a1a1;
  --light-grey: #d7d7d7;
  background-color: var(--white);
  --font-base: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

* {
  font-family: var(--font-base);
  box-sizing: inherit;
}

main {
  margin: 100px 5% 0 5%;
  justify-content: center;
}

.back-to-the-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.bi-arrow-up-circle-fill {
  color: var(--primary);
  font-size: 4rem;
  display: inline-flex;
  background-color: var(--white);
  border-radius: 50%;
  border: 2px solid var(--white);
  transition: transform 0.3s ease;
}

.bi-arrow-up-circle-fill:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 2.2rem);
}

h2 {
  font-size: clamp(1.6rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  font-weight: normal;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  line-height: 1.8;
}
