.about-main {
  display: flex;
  margin-bottom: 5%;
  text-align: center;
}

section {
  width: 90%;
  height: auto;
  text-align: center;
  margin-top: 50px;
}

.image-about {
  width: 80%;
  height: auto;
  float: left;
  margin-left: 10%;
  margin-top: 10%;
}
