.events-main {
  display: flex;
  margin-bottom: 10%;
  overflow: hidden;
}

section {
  width: 90%;
  height: auto;
  text-align: center;
  margin-top: 3%;
}

.all-events-container {
  width: 100%;
  display: flex;
  gap: 5%;
  margin-top: 5%;
}

.event {
  width: 30%;
  height: auto;
  border: solid 1px var(--black);
  border-radius: 10px;
  padding: 20px;
}

.event-text {
  text-align: left;
}

.bi-person,
.bi-moon-stars,
.bi-plug {
  font-size: 5rem;
}

/* Tables, Ipads (portrait) */
@media screen and (max-width: 1200px) {
  .all-events-container {
    display: block;
    margin-left: 5%;
  }

  .event {
    width: 90%;
    margin-bottom: 5%;
  }
}
