*{

    font-family: "Roboto";
    box-sizing: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.events-body{
    margin-top: 100px;
}

/*larger screens */
@media (min-width: 1463px){
    .events-body{
        display: flex;
        margin-bottom: 5%;
    }

    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 3%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.all-events-container{
    width: 100%;
    display: flex;
    gap: 5%; 
    margin-top: 5%;
   
}

.event{
    width: 30%;
    height: auto;
    border: #000 solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.event-text{
    text-align: left;
    font-size: 1.375rem;
    
}

.bi-person, .bi-moon-stars, .bi-plug{
    font-size: 5rem;;
}
}

/* Desktop */
@media (min-width: 1281px) and (max-width: 1462px){
    .events-body{
        display: flex;
        margin-bottom: 10%;
    }

    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 3%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.all-events-container{
    width: 100%;
    display: flex;
    gap: 5%; 
    margin-top: 5%;

}

.event{
    width: 30%;
    height: auto;
    border: #000 solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.event-text{
    text-align: left;
    font-size: 1.375rem;
    
}
.bi-person, .bi-moon-stars, .bi-plug{
    font-size: 5rem;;
}
}

 /* Laptops, desktops */
 @media (min-width: 1025px) and (max-width: 1280px) {
    .events-body{
        display: flex;
        margin-bottom: 10%;
    }

    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 3%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.all-events-container{
    width: 100%;
    display: flex;
    gap: 5%; 
    margin-top: 5%;

}

.event{
    width: 30%;
    height: auto;
    border: #000 solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.event-text{
    text-align: left;
    font-size: 1.375rem;
    
}
.bi-person, .bi-moon-stars, .bi-plug{
    font-size: 5rem;;
}
}

   /* Tables, Ipads (portrait) */
   @media (min-width: 768px) and (max-width: 1024px) {
    .events-body{
        display: flex;
        margin-bottom: 10%;
        overflow: hidden;
    }

    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 3%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.all-events-container{
    width: 100%;
    display: block;
    margin-top: 5%;
    margin-left: 5%;

}

.event{
    width: 90%;
    margin-bottom: 5%;
    height: auto;
    border: #000 solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.event-text{
    text-align: left;
    font-size: 1.375rem;
    
}
.bi-person, .bi-moon-stars, .bi-plug{
    font-size: 5rem;;
}
}

   /* Mobile */
@media (min-width: 481px) and (max-width: 767px) {
    .events-body{
        display: flex;
        margin-bottom: 10%;
        overflow: hidden;
    }

    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 3%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.all-events-container{
    width: 100%;
    display: block;
    margin-top: 5%;
    margin-left: 5%;

}

.event{
    width: 90%;
    margin-bottom: 5%;
    height: auto;
    border: #000 solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.event-text{
    text-align: left;
    font-size: 1.375rem;
    
}
.bi-person, .bi-moon-stars, .bi-plug{
    font-size: 5rem;;
}
}

/* smartphones */
@media (min-width: 320px) and (max-width: 480px) {
    .events-body{
        display: flex;
        margin-bottom: 10%;
        overflow: hidden;
    }

    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 3%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.all-events-container{
    width: 100%;
    display: block;
    margin-top: 5%;
    margin-left: 5%;

}

.event{
    width: 90%;
    margin-bottom: 5%;
    height: auto;
    border: #000 solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.event-text{
    text-align: left;
    font-size: 1.375rem;
    
}
.bi-person, .bi-moon-stars, .bi-plug{
    font-size: 5rem;;
}
}