.text {
  font-size: 1.375rem;
  text-align: left;
}

.exhibition-spaces-main {
  display: flex;
  margin-bottom: 5%;
}

.header2 {
  border: 1px solid var(--black);
  text-align: center;
  padding: 10px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 30px;
}

section {
  width: 90%;
  height: auto;
  text-align: center;
  margin-top: 3%;
}

.content-container {
  width: 90%;
  height: auto;
  text-align: left;
  margin-left: 5%;
  padding: 10px;
}

.title-image {
  display: grid;
}

.image-and-text {
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
}

.image-container {
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 5%;
}

.text-container {
  width: 100%;
}

.text-container-evolution {
  margin-top: 2%;
  width: 100%;
}

.evolution-images {
  display: flex;
  gap: 5%;
}

.image-vr {
  width: 45%;
  height: auto;
}

.image-person-sitting {
  width: 45%;
  height: auto;
}

.evolution-images {
  width: 45%;
  height: 45%;
  margin-top: 50px;
}

/* Tables, Ipads (portrait) */
@media screen and (max-width: 1024px) {
  .image-container {
    width: 100%;
    height: auto;
  }

  .image-and-text {
    width: 100%;
    height: auto;
    display: grid;
    gap: 5%;
  }

  .text-container {
    margin-top: 2%;
  }

  .image-vr {
    width: 80%;
    height: auto;
  }

  .image-person-sitting {
    width: 80%;
    height: auto;
  }

  .evolution-images {
    width: 45%;
    height: auto;
    margin-left: 10%;
  }
}
