html{
    scroll-behavior: smooth;
}

*{
    font-family: "Roboto";
    box-sizing: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.text{
    font-size: 1.375rem;
    text-align: left;
 }

 .exhibition-spaces-body{
    margin-top: 100px;
    display: flex;
    margin-bottom: 5%;
}

.header1{
    font-size: 2.2rem;
}

.header2{
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #1A4723;
    border-radius: 30px;
}

.header3{
    font-size: 1.5rem;
    font-weight:normal;
}

.left-margin{
    width: 5%;
    height: auto;
    float: left;
    /* background-color: red; */
}

.middle-section{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 3%;

}

.right-margin{
    width: 5%;
    height: auto;
    float: right;
    /* background-color: red; */
}

.content-container{
    width: 90%;
    height: auto;
    text-align: left;
    margin-left: 5%;
    /* background-color: aquamarine;  */
    padding: 10px;
}

.title-image{
    display: grid;
}

.image-and-text{
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
    display: flex;
    gap: 5%;
}

.image{
    width: 30%;
    height: 30%;
    margin-top: 5%;
   
}

.text-container{
    margin-top: 5%;
    width: 100%;
     /* background-color: brown;  */
}

.text-container-evolution{
    margin-top: 2%;
    width: 100%;
    /* background-color: brown;   */
}

.evolution-images{
    display: flex;
    gap: 5%;
}

.image-vr{
    width: 45%;
    height: auto;
}

.image-person-sitting{
    width: 45%;
    height: auto;
}

.evolution-images{
    width: 45%;
    height: 45%;
}

.back-to-the-top-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.bi-arrow-up-circle-fill{
    color: #1A4723;
    font-size: 4rem;
    display: inline-flex;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
}

.bi-arrow-up-circle-fill:hover{
    color: #fff;
    background-color: #1A4723;
    border: 2px solid #1A4723;
}

   /* Tables, Ipads (portrait) */
   @media (min-width: 768px) and (max-width: 1024px) {

.image-and-text{
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
    display: grid;
    gap: 5%;
}

.image{
    width: 80%;
    height: auto;
    margin-left: 10%;
   
}

.text-container{
    margin-top: 2%;
    width: 100%;
     /* background-color: brown;  */
}

.image-vr{
    width: 80%;
    height: auto;
}

.image-person-sitting{
    width: 80%;
    height: auto;
}

.evolution-images{
    width: 45%;
    margin-left: 10%;
}
}

   /* Mobile */
@media (min-width: 481px) and (max-width: 767px) {

.image-and-text{
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
    display: grid;
    gap: 5%;
}

.image{
    width: 80%;
    height: auto;
    margin-left: 10%;
   
}

.text-container{
    margin-top: 2%;
    width: 100%;
     /* background-color: brown;  */
}

.image-vr{
    width: 80%;
    height: auto;
}

.image-person-sitting{
    width: 80%;
    height: auto;
}

.evolution-images{
    width: 45%;
    margin-left: 10%;
}
.back-to-the-top-button{
    position: fixed;
    bottom: 70px;
    right: 30px;
    cursor: pointer;
}
}

/* smartphones */
@media (min-width: 320px) and (max-width: 480px) {

.image-and-text{
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
    display: grid;
    gap: 5%;
}

.image{
    width: 80%;
    height: auto;
    margin-left: 10%;  
}

.text-container{
    margin-top: 2%;
    width: 100%;
     /* background-color: brown;  */
}

.image-vr{
    width: 80%;
    height: auto;
}

.image-person-sitting{
    width: 80%;
    height: auto;
}

.evolution-images{
    width: 45%;
    margin-left: 10%;
}
.back-to-the-top-button{
    position: fixed;
    bottom: 70px;
    right: 30px;
    cursor: pointer;
}
}


@media (max-width: 319px) {
    
    .image-and-text{
        width: 100%;
        height: auto;
        /* background-color: blueviolet; */
        display: grid;
        gap: 5%;
    }
    
    .image{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
    
    .text-container{
        margin-top: 2%;
        width: 100%;
         /* background-color: brown;  */
    }
   
    .image-vr{
        width: 80%;
        height: auto;
    }
    
    .image-person-sitting{
        width: 80%;
        height: auto;
    }
    
    .evolution-images{
        width: 45%;
        margin-left: 10%;
    }
    .back-to-the-top-button{
        position: fixed;
        bottom: 70px;
        right: 30px;
        cursor: pointer;
    }
    }