*{

    font-family: "Roboto";
    box-sizing: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.text{
    font-size: 1.375rem;
    text-align: left;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    
 }

 .get-involved-body{
    margin-top: 100px;
}

/* larger screens */
@media (min-width: 1463px){
    .get-involved-body{
        display: flex;
        margin-bottom: 5%;
     }
    
     .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
        text-align: left;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

    .get-involved-container{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: 5%;
    }
    }

/* Desktop */
@media (min-width: 1281px) and (max-width: 1462px){
    .get-involved-body{
        display: flex;
        margin-bottom: 5%;
     }
    
     .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
        text-align: left;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

    .get-involved-container{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: 5%;
    }
    }

 /* Laptops, desktops */
 @media (min-width: 1025px) and (max-width: 1280px) {
    .get-involved-body{
        display: flex;
        margin-bottom: 5%;
     }
    
     .header1{
        font-size: 2.2rem;
       
    }
    
    .header2{
        font-size: 2rem;
        text-align: left;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

    .get-involved-container{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: 5%;
    }
    }


   /* Tables, Ipads (portrait) */
   @media (min-width: 768px) and (max-width: 1024px) {
    .get-involved-body{
        display: flex;
        margin-bottom: 5%;
     }
    
     .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
        text-align: left;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

    .get-involved-container{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 5%;
    }
    }


   /* Mobile */
@media (min-width: 481px) and (max-width: 767px) {
    .get-involved-body{
        display: flex;
        margin-bottom: 5%;
     }
    
     .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
        text-align: left;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

    .get-involved-container{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 5%;
    }
    }

/* smartphones */
@media (min-width: 320px) and (max-width: 480px) {
    .get-involved-body{
        display: flex;
        margin-bottom: 5%;
     }
    
     .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
        text-align: left;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

    .get-involved-container{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 5%;
    }
    }