.visit-main {
  display: flex;
  margin-bottom: 20%;
}

section {
  width: 90%;
  height: auto;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 10%;
}

.visit-container {
  gap: 2%;
  display: grid;
  width: 100%;
}

.location-containter {
  width: 70%;
  height: auto;
  border: solid 1px var(--black);
  border-radius: 10px;
  text-align: left;
  display: flex;
  margin-left: 15%;
  padding: 20px;
}

.admission-container {
  width: 70%;
  height: auto;
  border: #000 solid 1px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  margin-left: 15%;
  padding: 20px;
}

.text-admission {
  text-align: left;
  display: block;
}

.hours-accessibility {
  display: flex;
}

.hours-container {
  width: 28%;
  height: auto;
  border: #000 solid 1px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  margin-left: 15%;
  padding: 20px;
}

.text-hours {
  text-align: left;
  display: block;
}

.Accessibility-container {
  width: 40%;
  height: auto;
  border: #000 solid 1px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  margin-left: 2%;
  padding: 20px;
}

.text-Accessibility {
  text-align: left;
  display: block;
}

.shop-container {
  width: 70%;
  height: auto;
  border: #000 solid 1px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  margin-left: 15%;
  padding: 20px;
}

.text-shop {
  text-align: left;
  display: block;
}

.food-containter {
  width: 70%;
  height: auto;
  border: #000 solid 1px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  margin-left: 15%;
  padding: 20px;
}

.image-container {
  width: 45%;
  height: auto;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: auto;
  margin-left: 40%;
  border-radius: 10px;
}

.text-container {
  text-align: left;
  display: block;
  width: 45%;
}

/* Mobile */
@media screen and (max-width: 1024px) {
  .visit-container {
    margin-bottom: 200px;
  }

  .location-containter {
    width: 90%;
    display: grid;
    margin-left: 5%;
  }

  .text-container {
    width: 100%;
  }

  .image-container {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transform: translateX(-20%);
  }

  .admission-container {
    width: 90%;
    margin-left: 5%;
  }

  .hours-accessibility {
    display: block;
  }

  .hours-container {
    width: 90%;
    margin-left: 5%;
  }

  .Accessibility-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
  }

  .shop-container {
    width: 90%;
    margin-left: 5%;
  }

  .food-containter {
    width: 90%;
    display: grid;
    margin-left: 5%;
  }
}

@media screen and (max-width: 480px) {
  .text-container {
    width: 100%;
  }

  .image-container {
    width: 100%;
    transform: translateX(-20%);
  }

  .visit-container {
    margin-bottom: 250px;
  }

  .location-containter {
    width: 90%;
    display: grid;
    margin-left: 5%;
  }

  .admission-container {
    width: 90%;
    margin-left: 5%;
  }

  .hours-accessibility {
    display: block;
    gap: 8%;
  }

  .hours-container {
    width: 90%;
    margin-left: 5%;
  }

  .Accessibility-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
  }

  .shop-container {
    width: 90%;
    margin-left: 5%;
  }

  .food-containter {
    width: 90%;
    display: grid;
    margin-left: 5%;
  }
}
