*{

    font-family: "Roboto";
    box-sizing: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.visit-body{
    margin-top: 100px;
}


.text{
   font-size: 1.375rem;
}

/* larger screens */
@media (min-width: 1463px){
    .visit-body{
        display: flex;
        margin-bottom: 10%;
    }
    
    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 2%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

   
    .visit-container{
        gap: 2%;
        display: grid;
        width: 100%;
    }

    .location-containter{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-location{
        text-align: left;
        display: block;
    }

    .location-image{
        width: 40%;
        height: auto;
        margin-left: 40%;
        border-radius: 10px;
    }

    .admission-container{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-admission{
        text-align: left;
        display: block;
    }

    .hours-accessibility{
        display: flex;
    }
 
    .hours-container{
        width: 20%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-hours{
        text-align: left;
        display: block;
    }
    
    .Accessibility-container{
        width: 48%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 2%;
        padding: 20px;
    }

    .text-Accessibility{
        text-align: left;
        display: block;
    }

    .shop-container{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-shop{
        text-align: left;
        display: block;
    }

    .food-containter{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-food{
        text-align: left;
        display: block;
    }
    
    .food-image{
        width: 40%;
        height: auto;
        margin-left: 40%;
        border-radius: 10px;
    }
}

/* Desktop */
@media (min-width: 1281px) and (max-width:1462px){
    .visit-body{
        display: flex;
        margin-bottom: 10%;
    }
    
    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 2%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

   
    .visit-container{
        gap: 2%;
        display: grid;
        width: 100%;
    }

    .location-containter{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-location{
        text-align: left;
        display: block;
    }

    .location-image{
        width: 40%;
        height: auto;
        margin-left: 35%;
        border-radius: 10px;
    }

    .admission-container{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-admission{
        text-align: left;
        display: block;
    }

    .hours-accessibility{
        display: flex;
    }
 
    .hours-container{
        width: 20%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-hours{
        text-align: left;
        display: block;
    }
    
    .Accessibility-container{
        width: 48%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 2%;
        padding: 20px;
    }

    .text-Accessibility{
        text-align: left;
        display: block;
    }

    .shop-container{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-shop{
        text-align: left;
        display: block;
    }

    .food-containter{
        width: 70%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 15%;
        padding: 20px;
    }

    .text-food{
        text-align: left;
        display: block;
    }
    
    .food-image{
        width: 40%;
        height: auto;
        margin-left: 35%;
        border-radius: 10px;
    }
}

 /* Laptops, desktops */
 @media (min-width: 1025px) and (max-width: 1280px) {
    .visit-body{
        display: flex;
        margin-bottom: 10%;
    }
    
    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 2%;
        margin-bottom: 10%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        /* background-color: red; */
    }

   
    .visit-container{
        gap: 2%;
        display: grid;
        width: 100%;
    }

    .location-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 3%;
        padding: 20px;
    }

    .text-location{
        text-align: left;
        display: block;
    }

    .location-image{
        width: 40%;
        height: auto;
        margin-left: 35%;
        border-radius: 10px;
    }

    .admission-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 3%;
        padding: 20px;
    }

    .text-admission{
        text-align: left;
        display: block;
    }

    .hours-accessibility{
        display: flex;
    }
 
    .hours-container{
        width: 30%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 3%;
        padding: 20px;
    }

    .text-hours{
        text-align: left;
        display: block;
    }
    
    .Accessibility-container{
        width: 58%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 2%;
        padding: 20px;
    }

    .text-Accessibility{
        text-align: left;
        display: block;
    }

    .shop-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 3%;
        padding: 20px;
    }

    .text-shop{
        text-align: left;
        display: block;
    }

    .food-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 3%;
        padding: 20px;
    }

    .text-food{
        text-align: left;
        display: block;
    }
    
    .food-image{
        width: 40%;
        height: auto;
        margin-left: 35%;
        border-radius: 10px;
    }
}



   /* Tables, Ipads (portrait) */
   @media (min-width: 768px) and (max-width: 1024px) {
    .visit-body{
        display: flex;
        margin-bottom: 10%;
    }
    
    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 2%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        margin-bottom: 30%;
        /* background-color: red; */
    }

   
    .visit-container{
        gap: 2%;
        display: grid;
    }

    .location-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-location{
        text-align: left;
        display: block;
    }

    .location-image{
        width: 40%;
        height: auto;
        margin-left: 25%;
        border-radius: 10px;
    }

    .admission-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-admission{
        text-align: left;
        display: block;
    }

    .hours-accessibility{
        display: block;
    }
 
    .hours-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-hours{
        text-align: left;
        display: block;
    }
    
    .Accessibility-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
        margin-top: 5%;
    }

    .text-Accessibility{
        text-align: left;
        display: block;
    }

    .shop-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-shop{
        text-align: left;
        display: block;
    }

    .food-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-food{
        text-align: left;
        display: block;
    }
    
    .food-image{
        width: 40%;
        height: auto;
        margin-left: 5%;
        border-radius: 10px;
    }
}


   /* Mobile */
@media (min-width: 481px) and (max-width: 767px) {
    .visit-body{
        display: flex;
        margin-bottom: 10%;
    }
    
    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 2%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        margin-bottom: 30%;
        /* background-color: red; */
    }

   
    .visit-container{
        gap: 2%;
        display: grid;
    }

    .location-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: grid;
        margin-left: 5%;
        padding: 20px;
    }

    .text-location{
        text-align: left;
        display: block;
    }

    .location-image{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .admission-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-admission{
        text-align: left;
        display: block;
    }

    .hours-accessibility{
        display: block;
    }
 
    .hours-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-hours{
        text-align: left;
        display: block;
    }
    
    .Accessibility-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
        margin-top: 50px;
    }

    .text-Accessibility{
        text-align: left;
        display: block;
    }

    .shop-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-shop{
        text-align: left;
        display: block;
    }

    .food-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: grid;
        margin-left: 5%;
        padding: 20px;
    }

    .text-food{
        text-align: left;
        display: block;
    }
    
    .food-image{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

/* smartphones */
@media (min-width: 320px) and (max-width: 480px) {
    .visit-body{
        display: flex;
        margin-bottom: 10%;
    }
    
    .header1{
        font-size: 2.2rem;
    }
    
    .header2{
        font-size: 2rem;
    }
    
    .header3{
        font-size: 1.5rem;
        font-weight:normal;
    }
    
    .left-margin{
        width: 5%;
        height: auto;
        float: left;
        /* background-color: red; */
    }
    
    .middle-section{
        width: 90%;
        height: auto;
        /* background-color: aqua; */
        text-align: center;
        margin-top: 2%;
    
    }
    
    .right-margin{
        width: 5%;
        height: auto;
        float: right;
        margin-bottom: 40%;
        /* background-color: red; */
    }

   
    .visit-container{
        gap: 2%;
        display: grid;
    }

    .location-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: grid;
        margin-left: 5%;
        padding: 20px;
    }

    .text-location{
        text-align: left;
        display: block;
    }

    .location-image{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .admission-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-admission{
        text-align: left;
        display: block;
    }

    .hours-accessibility{
        display: block;
        gap: 8%
    }
 
    .hours-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-hours{
        text-align: left;
        display: block;
    }
    
    .Accessibility-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
        margin-top: 50px;
    }

    .text-Accessibility{
        text-align: left;
        display: block;
    }

    .shop-container{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        margin-left: 5%;
        padding: 20px;
    }

    .text-shop{
        text-align: left;
        display: block;
    }

    .food-containter{
        width: 90%;
        height: auto;
        border: #000 solid 1px;
        border-radius: 10px;
        text-align: left;
        display: grid;
        margin-left: 5%;
        padding: 20px;
    }

    .text-food{
        text-align: left;
        display: block;
    }
    
    .food-image{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}
